<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>functions</title>
</head>
<body>

{{range .Wisdom}}
{{uc .Name}}
{{end}}


{{range .Transport}}
{{ft .Model}}
{{end}}

{{ibo 1}}

</body>
</html>